

@media only screen and (min-width: 768px) {
.D,.D1{
    padding-bottom:15px;
    padding-top:15px;
}
}

@media screen and (min-width: 0px) and (max-width: 767px) {
 .D{
    padding-top:15px;
} 
}

@media screen and (min-width: 0px) and (max-width: 767px) {
 .D1{
    padding-top:30px;
} 
}

@media only screen and (min-width: 768px) {
.d1{
   width: 150px;
    height: 150px;
    padding-top: 45px;
    padding-left: 25px;
    background-color: #ffffff;
    font-weight:600;
    box-sizing: border-box;
}
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .d1{
   width: 150px;
    height: 150px;
    padding-top: 42px;
    padding-left: 20px;
    background-color: #ffffff;
    font-weight:500;
    font-size: 45px;
    box-sizing: border-box;
}
  }

@media only screen and (min-width: 768px) {
.d2{
   width: 150px;
    height: 150px;
    padding-top: 47px;
    padding-left: 40px;
    background-color: #ffffff;
    font-weight:600;
    box-sizing: border-box;
}
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .d2{
   width: 150px;
    height: 150px;
    padding-top: 42px;
    padding-left: 35px;
    background-color: #ffffff;
    font-weight:500;
    font-size: 45px;
    box-sizing: border-box;
}
  }

@media only screen and (min-width: 768px) {
.d3{
   width: 150px;
    height: 150px;
    padding-top: 45px;
    padding-left: 62px;
    background-color: #ffffff;
    font-weight:600;
    box-sizing: border-box;
}
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .d3{
   width: 150px;
    height: 150px;
    padding-top: 40px;
    padding-left: 60px;
    background-color: #ffffff;
    font-weight:500;
    font-size: 45px;
    box-sizing: border-box;
}
  }

.button1:hover{
 color:#000000;
 background-color:#FFFFFF;
}
@media all and (max-width:30em){
 .button1{
  display:block;
  margin:0.4em auto;
 }
}


.caption div {
    box-shadow: 0 0 5px #C8C8C8;
    transition: all 0.3s ease 0s;
}
.img-circle {
    border-radius: 50%;
}
.img-circle {
    border-radius: 0;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    height: auto;
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
 .abouttext{
  padding-top: 40px;
  padding-bottom: 30px;
 }
}

 @media screen and (min-width: 0px) and (max-width: 767px) {
  .abouttextmob{
    padding-top: 25px;
  }
  }  

@media only screen and (min-width: 768px) {
 .btn-padding{
  padding-top:390px;
 }
}

 @media screen and (min-width: 0px) and (max-width: 767px) {
  .statistics{
    padding-left: 95px;
  }
  }  

@media only screen and (min-width: 768px) {
.aa{
   padding-left: 250px;
   position: relative;
}
}

@media only screen and (min-width: 768px) {
.b{
   padding-left: 280px;
   position: relative;
}
}

@media only screen and (min-width: 768px) {
.c{
   padding-left: 300px;
   position: relative;
}
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .img-mobile{
     width: 140px; 
  }
  }  
@media only screen and (min-width: 768px) {
.name-padding{
   padding-bottom:15px;
   padding-top:15px;
}
}